# ignnore package fuiles Project-local glide cache
.idea/

# ignore ide files
.vscode

# ignore Services Store file for macOS
.DS_Store/
.DS_Store



/NairaLand/result
/Taybullpay/result
/Taybullpay/.DS_Store